{%include "header.html"%}
<h1 class="page-header" align="center">Question</h1>
<div style="background: white; width: 240px; height: 400px">
	<img style="-webkit-user-select: none; width: 240px;"
		src="http://{{hostname}}/serve/AMIfv954_bi3d7FKjv79Fu66GyyiZzD6z4MKZaFoC7_F5-MKAiQvXd2qal-OjUVCTRlnwM1cINc2YbHOe0kVNKfnX0LKy71G6lqWb7rC8UN52PtsMrX1yBoy4J8_m7f5AT0oKp-49r2TiX1OrpjVEggrgKXNovQOT9JJhvkhYymveVJgWrPF16g
	"><br />
	<div>
	<pre style='font-size:13px;float:left; text-align: left;'>{{content}}</pre>
	</div>
	<div style="height: 138px">
		{% if  image_key is lengthCheck %}
			{% for image in image_key %} <img
				style="-webkit-user-select: none; width: 100px;"
				src="http://{{hostname}}/serve/{{image}}"><br /> 
			{% endfor %}
		{% endif %}
	</div>
	<img style="-webkit-user-select: none; width: 240px;"
		src="http://{{hostname}}/serve/AMIfv95GbMbDxDd_3EAWS9tSfm9rpkVbGPjsNoH_BTtiUDzj6iixj4hoe6tqPwc-JjCGgMYboIvMZWSOZzZ9nz72HYcdKHm1ew_42hotM7CPSqEs4cKaH79wtnJt7bOHJQxnSv_ziET19xyUa6xW2tG_7kPyQJ8SmJYo43g1ieh_Fz6SrO35sig"><br />
	<img style="-webkit-user-select: none; width: 240px;"
		src="http://{{hostname}}/serve/AMIfv96ekny7R00ec0UehrN9iRRGeLvx_KoAmAK4YeGkR3YtfoHhfTl9gUv74S-TLrYBxfGOeiXwkb6PyDhdiZ3Lzw_P6HIPo4tjsawxwgTd0nCl4LTowTjOSrObXXpfRoMHUtfEYIgUWYTQW3bU5MgdHBtO_2BuuWFNNG5No0r5l6grEoXcjmM"><br />
</div>
</div>
</center>
<p>&nbsp;</p>
</main>
</div>
</div>
</div>
</div>
</body>
</html>